<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>ForBooks</title>

</head>
<body>
  
        <div class="container mb-5">

                <%- include("navbar")%>
        
                <div class="row mt-5">
                <% products.forEach(p => { %>
                    <div class="col-md-4">
                        <div class="card">
                            <img height="500" src="<%= p.image %>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="text-align:center;"><%= p.name %> <br/><br/> KD <%= p.price %></h5>
                              <p style="height: 200px" class="card-text"> <%= p.description %></p>
                              <a href="#" class="btn btn-primary">اشترني</a>
                            </div>
                          </div>
                    </div>
                     
                <% }) %>
            </div>
        
        </div>

</body>



</html>